ul li a[href="inventory.php"]:not(ul li a[href="inventory.php"].notmain) {
  border-left: 4px solid var(--theme);
}

ul li a[href="inventory.php"].notmain {
  transition: 0.2s border-left;
}

ul li a[href="inventory.php"].notmain:hover {
  border-left: 4px solid var(--theme);
}

.wide .navbar a[href="inventory.php"] {
  border-radius: 0;
  margin: 0;
}

.wide .navbar a[href="inventory.php"]:hover {
  background-color: white;
}

.wide .navbar a[href="inventory.php"] .left {
  width: 66px;
}

.wide .navbar a[href="inventory.php"] p {
  color: var(--theme);
  margin-left: 0;
}

th:nth-child(3),
td:nth-child(3) {
  min-width: 30px;
}

th:nth-child(4),
td:nth-child(4) {
  min-width: 30px;
}

th:nth-child(5),
td:nth-child(5) {
  min-width: 300px;
}

th:nth-child(6),
td:nth-child(6) {
  min-width: 100px;
}

th:nth-child(7),
td:nth-child(7) {
  min-width: 200px;
}

th:nth-child(8),
td:nth-child(8) {
  min-width: 100px;
}

th:nth-child(9),
td:nth-child(9) {
  min-width: 100px;
}

th:nth-child(10),
td:nth-child(10) {
  min-width: 160px;
}
